
/***base.css, 所有页面都要引用的*****/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, 
pre,fieldset, lengend, button, input, textarea,th, td {
    margin: 0;
    padding: 0;
}
body{font-family: 'Microsoft YaHei', helvetica, arial, verdana, tahoma, sans-serif;}
ul, ol { list-style: none; }
a { text-decoration: none;cursor:pointer; }
*,*:after,*:before{
    box-sizing: border-box;
}
/********base.css******/


body {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333;
}
::selection{
    color: #FFF;
    background-color: #57b382
}

.verify_err{
    border:red 2px solid;
    outline-color: red !important;
}
.alert-info {
    color: #3A87AD;
    background: #D9EDF7;
    border-color: #C6E4F3;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 1.6em;
}

textarea,input[type="text"]:focus {
  outline-color: #57B382;
}
/*table下的显示详情*/
.table_detail {
    cursor: pointer;
    color: #1F90C8;
}
/*提交表单样式*/
.formcontent {
    overflow: atuo;
    padding: 30px;
    padding-right: 50px;
}
.formcontent .item {
    font-size: 13px;
    margin: 10px 0;
}
.formcontent .item_name {
    width: 90px;
    display: inline-block;
    text-align: right;
    margin-right:10px;
}
.formcontent .item input {
    padding-left: 5px;
    border: 2px solid #cfeaf8;
    width: 220px;
    height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.formcontent .item input[type="radio"]{
    width: 14px;
}
.formcontent .item label[class="radio"]{
    margin:0 30px;
}
.formcontent .item textarea {
    padding: 5px 0 0 5px;
    border: 2px solid #cfeaf8;
    width: 220px;
    height: 80px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow-x:hidden;
    resize:none;
    vertical-align:top;
}
.formcontent .item select {
    padding-left: 5px;
    width: 220px;
    height: 25px;
    border: 2px solid #cfeaf8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.formcontent .item .cascade {
    display: inline-block;
}
.formcontent .item button {
    height: 25px;
    border: 1px solid #1f90c8;
    background: #fff;
    color: #1f90c8;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.op {
    text-align: center;
    padding-bottom: 20px;
}
/*带step的表单样式*/
.step_nav {
    font-size: 13px;
}
.step_finfo {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
/*.steps .step_content {
    height: 277px;
    padding: 25px;
    overflow: auto;
    position: relative;
}*/
.steps .pervstep {
    float: left;
}
.steps .nextstep {
    float: right;
}
.steps .submit {
    float: right;
    border: #0474B3;
    background-color:#0474B3;
    width: 68px;
    height: 32px;
}
.step_footer {
    border-top: 1px solid #eee;
    background: #f2f2f2;
    padding: 15px 30px;
    overflow: hidden;
}
.step_content {
    height: 277px;
    padding: 25px;
    overflow: auto;
    position: relative;
}
.step_content .item {
    font-size: 13px;
    margin: 10px 0;
}
.step_content .item_name {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right:10px;
}
.step_content .item input {
    padding-left: 5px;
    border: 2px solid #cfeaf8;
    width: 220px;
    height: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.step_content .item input[type="radio"]{
    width: 14px;
}
.step_content .item label[class="radio"]{
    margin:0 30px;
}
.step_content .item textarea {
    padding: 5px 0 0 5px;
    border: 2px solid #cfeaf8;
    width: 220px;
    height: 80px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow-x:hidden;
    resize:none;
    vertical-align:top;
}
.step_content .item select {
    padding-left: 5px;
    width: 220px;
    height: 25px;
    border: 2px solid #cfeaf8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
.step_content .item .cascade {
    display: inline-block;
}
.step_content .item button {
    height: 25px;
    border: 1px solid #1f90c8;
    background: #fff;
    color: #1f90c8;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
