#load_page{
	position: relative;
	height: 100%;
	width: 100%;
	background: #F1F4F6;
	z-index: 999;
	border: 1px solid #ddd;
	z-index: 1001;
}
.successmessage{
	color:green;
}
.errormessage{
	color:red;
}
.page{
	height: 100%;
	width: 100%;
	background-color: #F1F4F6;
}
.content{
	padding: 0 20px;
	overflow: auto;
	max-height: 80%;
	padding-bottom: 10px;
}

.panel{
	padding: 10px 20px;
	background: #FFF;
}
.chu_load{
	padding-top:300px; 
}

.chu_menu{
	width: 210px;
	display: inline-block;
	height: 100%;
	background-color: #22222C;
	float: left;
	position: relative;
	z-index: 90;
}
.chu_menu .logo{
	height: 48px;
	background-color: #FFF;
}


.chu_menu .logo_name{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	vertical-align: top;
	font-size: 18px;
	font-family: "黑体";
	vertical-align: middle;
	margin-left: 16px;
}
.chu_operation{
	height: 100%;
	margin-left: 200px;
}
.chu_operation.folder{
	margin-left: 50px;
	width: auto;
}
/* 定制的dropdown样式 */
.wh_dropdown{
	width: 150px;
	height: 30px;
}
.wh_dropdown .dropdown_text{	
	background-color: #ECE6CB;
}
.wh_dropdown .dropdown_text:after{
	border-color: #3b3f4e transparent transparent;
}
.wh_dropdown .toggle:focus ~ .dropdown_text:after{
	border-color: transparent transparent #3b3f4e;
}
.wh_dropdown .dropdown_items {
	background-color: #ECE6CB;	
}
.wh_dropdown .dropdown_items li{
	padding: 0 5px;
	color: #aaa;
	font-size: 12px;
}
.wh_dropdown .dropdown_items li:hover{
	cursor: pointer;
	color: #000;
}
.wh_dropdown .dropdown_items li span{
	padding-left: 8px;
}

.popbox .timetree{
	position: fixed;
	right: 0;
	top: 49px;
	z-index: 10;
	width: 275px;
	border-left: 1px solid #EEE;
	padding: 10px 0;
	background: #FFF;
	height: 100%;
	overflow-y: auto;
}
.tp{
	display: block;
	width: 200px;
	height: 30px;
	background-color: #ddd;
	margin-top: 10px;
}

.breadcrumb{
	overflow: hidden;
  	margin: 10px 20px;
}
.tableTmpl{
	clear: both;
}
.mark{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
	background: #FF3D3D;
	color: #FFF;
	line-height: 15px;
	font-size: 5px;
	border-radius: 8px;
}
#warning{
	width: 400px;
	height: 500px;
}
#warning .title{
	height: 80px;
	line-height: 80px;
}
#warning .title h3{
	display: inline-block;
	color: red;
	font-size: 40px;
	font-weight: 700;
	padding: 0 20px;
  	vertical-align: middle;
}
#warning .title h1{
	display: inline-block;
  	vertical-align: middle;
}
#warning .msg{
	display: block;	
	height: 240px;	
	margin: 0 20px;		
	padding: 20px;
	background-color: #D9EDF7;
	font-weight: 600;
	font-size: 14px;
}
.add-server{
	min-width: 370px;
	height: 150px;
	border: 1px solid #ccc;
	text-align: center;
}
.add-server tr{
	height: 40px;
}
.add-server td{
	padding: 0 5px;
}
.add-server td{
	border: 1px solid #ccc;
}
.add-server select,.add-server span,.add-server input{
	display: inline-block;
	line-height: 35px;
	width: 282px;
	height: 35px;
	border: none;
	outline: none;
	background: #FFF;
	text-align: left;
}
.add-server option{
	height: 30px;
}
.add-server .button{
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
}


.actionbar_user{
	padding: 10px 0;
}
.actionbar_user .user_item{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	margin: 0;
}
.actionbar_user .user_item:hover{
	background-color: #EEE;
}

.separator{
 height:2px;
 width:100%;
 background:#57B382;
 overflow:hidden;
 }



/* 
** --一些公用的样式-- 
 */
 .search{
	width: 180px;
	height: 32px;
	border-radius: 16px;
	padding: 0 10px;
	border: 1px solid #DDD;
	outline: none;
}

#source{
	padding-top: 10px;
	padding-bottom: 25px;
}
#source ul{
	font-size: 14px;	
}
#source ul li{
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 8px;
}
#source .sourcename{
	width: 15%;
	/*padding-left: 5px;*/
	font-weight: bold;
	font-size: 14px;
	border-right: 1px dotted #ccc;
}
#source .sourcelist{
	width: 80%;
}

#tmpl_Components_Step_example{
	width: 700px;
	height: 422px;
}
#tmpl_Components_Optionbtn .optionbtn li{
	padding: 20px 10px;
}